*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

header{
    background-color: rgb(79, 149, 72);
}
h1{
    color: rgb(244, 225, 194);
    text-align:center;
}
h2{
    color:rgb(224, 222, 138);
    text-align:center;
}
div.container{
   background-color: rgb(247, 233, 216);
    border: 5px solid rgb(91, 129, 35);
    width: 80%;
    margin: 0 auto 0 auto;
}
nav{
    background-color: rgb(47, 87, 43);
    overflow: hidden;
}
ul{
    text-align: center;
}

li{
    display: inline-block;
    width: 150px;
    border: 2px solid rgb(111, 90, 63);
    line-height: 3em;
    font-family: 'Gill sans', 'Gill sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color:rgb(218, 229, 175);
    text-decoration: none;
    border: 1px solid rgb(92, 96, 50);
    display: block;
}
h4{
    color: rgb(125, 90, 81);
    text-align:center;
}
h3{
    color: rgb(73, 95, 51);
    text-align:center;
}


footer{
    background-color: rgb(139, 203, 122);
    width: 80%;
    margin: 0 auto 0 auto;
    border: dotted rgb(44, 66, 40);
}

/* CSS by ID */
#container{
    width: 800px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

/* CSS by class */
div.img{
    width: 50%;
    float: middle;
    box-sizing: border-box;
    padding: 0 10px;
    margin: 0 auto;
}

@media screen and (min-width: 601px){
    li{
        width: 15%;
        margin: 0;
        padding: 0;
        float: middle;
        box-sizing: border-box;
        
    }
    
}